{% extends "admin/base_site.html" %}
{% load i18n %}


{% block extrastyle %}
{{ block.super }}
<style type="text/css">

.mc-slabs .module {
  float: left;
  margin-right: 5px;
}

.mc-slabs .module-small table {
  width: 100%
}
</style>
{% endblock %}


{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:mc_dashboard' %}">Memcache Dashboard</a>
&rsaquo; {{ title }}
</div>
{% endblock %}
{% endif %}


{% block content %}
<div class="mc-slabs">
    {% for slab, data in cache_slabs.items %}
    <div class="module">
        <table class="table table-striped table-bordered">
        <caption>
            <h2>Slab: {{slab}}</h2>
        </caption>
        <tbody>
        {% for k, v in data.items %}
        <tr>
            <th>{{k}}</th><td>{{v}}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}
